openapi: 3.0.3
info:
  title: BNY Mellon Treasury Services Accounts Balances API
  description: The BNY Mellon Treasury Services API enables corporate clients to programmatically initiate and track payments, access account balances and transaction history, manage wire transfers, and retrieve reporting data. The API is available via the BNY Mellon Marketplace (marketplace.bnymellon.com) and supports global treasury operations across multiple currencies and payment rails.
  version: 4.0.0
  contact:
    url: https://marketplace.bnymellon.com/treasury/api-central/
servers:
- url: https://api.bnymellon.com/treasury/v4
  description: BNY Mellon Treasury Services API Production
- url: https://apiuat.bnymellon.com/treasury/v4
  description: BNY Mellon Treasury Services API UAT/Sandbox
security:
- OAuth2: []
tags:
- name: Balances
paths:
  /accounts/{accountId}/balances:
    get:
      operationId: getAccountBalances
      summary: Get Account Balances
      description: Retrieve current, available, and intraday balances for an account.
      tags:
      - Balances
      parameters:
      - name: accountId
        in: path
        required: true
        description: Account identifier
        schema:
          type: string
      - name: balanceType
        in: query
        description: Balance type filter (current, available, intraday)
        schema:
          type: string
      responses:
        '200':
          description: Balance information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Balance:
      type: object
      description: Account balance record
      properties:
        accountId:
          type: string
        balanceType:
          type: string
          description: Balance type (current, available, intraday)
        amount:
          type: number
          format: double
        currency:
          type: string
        asOfDateTime:
          type: string
          format: date-time
        openingBalance:
          type: number
          format: double
        closingBalance:
          type: number
          format: double
    BalanceResponse:
      type: object
      description: Account balances response
      properties:
        accountId:
          type: string
        balances:
          type: array
          items:
            $ref: '#/components/schemas/Balance'
    ErrorResponse:
      type: object
      description: API error response
      properties:
        errorCode:
          type: string
        message:
          type: string
        requestId:
          type: string
        details:
          type: array
          items:
            type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.bnymellon.com/oauth/token
          scopes:
            accounts:read: Read account data
            balances:read: Read balance data
            transactions:read: Read transaction history
            payments:write: Initiate and manage payments
            transfers:write: Initiate funds transfers
